@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

body {
  margin: 0;
}

* {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1024px;
  margin: auto;
}
.cards {
  display: flex;
  width: 1024px;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0;
  row-gap: 30px;
  column-gap: 30px;
}

.card {
  width: 180px;
  text-align: left;
  box-sizing: border-box;
}

img {
  border-radius: 6px;
  transition: 0.2s ease;
}

h2,
h3,
p {
  margin: 0;
}

.text-grey {
  opacity: 0.6;
}

.card__name {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
}
.card .film__rating {
  opacity: 1;
  background: #ffffffb8;
  padding: 3px 6px 3px 3px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(30px);
  margin: 10px;
  position: absolute;
}

input {
  border-radius: 8px;
  border: 2px solid #0000001c;
  padding: 12px 16px;
}

button {
  padding: 12px 16px;
  border: 0;
  border-radius: 8px;
  background: #f4f4f4;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-main {
  background: rgb(0, 115, 255);
  color: white;
}

.btn-wide {
  padding: 16px 30px;
}

.count {
  margin-left: 10px;
  opacity: 0.4;
}

.film {
  display: flex;
  box-sizing: border-box;
  column-gap: 50px;
}
.film__alert {
  background: #f4f4f4;
  padding: 20px 30px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.film__cover {
  background-size: cover !important;
  width: 300px;
  aspect-ratio: 3/4.5;
  flex-shrink: 0;
  border-radius: 8px;
}

.card__cover {
  background-size: cover !important;
  width: 100%;
  aspect-ratio: 3/4.5;
  border-radius: 8px;
  position: relative;
  margin-bottom: 12px;
  transition: 0.15s ease;
}

.card__remove {
  opacity: 0;
  user-select: none;
  right: 10px;
  top: 10px;
  background: #ffffffb8;
  padding: 5px;
  backdrop-filter: blur(30px);
  position: absolute;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  transition: 0.15s ease;
}

.card:hover .card__remove {
  opacity: 1;
  user-select: all;
}

.card:hover .card__cover {
  transform: scale(1.02);
}

.film__name {
  margin-bottom: 0;
}
.film__year {
  margin-bottom: 20px;
  margin-top: 10px;
  opacity: 0.4;
}

.film__rating {
  border-radius: 8px;
  font-weight: 600;
  width: fit-content;
  display: flex;
  justify-content: center;
  opacity: 0.4;
  margin-bottom: 20px;
}

.film__desc,
.login__descr {
  line-height: 1.6rem;
}

.staff {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.staff__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80px;
  font-size: 0.9rem;
  text-align: center;
  line-height: 20px;
  transition: 0.2s ease;
}

.staff__avatar {
  width: 80px;
  height: 80px;
  background: #cecece;
  border-radius: 50px;
  background-size: cover !important;
}

.staff__name {
  font-weight: 600;
}

.header {
  padding: 20px 0;
  box-sizing: border-box;
}

.header {
  padding: 30px 0;
  box-sizing: border-box;
  column-gap: 40px;
  display: flex;
  align-items: center;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  color: #949494;
  cursor: pointer;
}

.header__item:hover {
  color: #000000;
}

.header__item svg {
  display: none;
}

button:active,
.staff__item:active,
.card__remove:active {
  transform: scale(0.98);
}

.login {
  width: 340px;
  text-align: center;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.login__logo {
  width: 80px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #00000017;
  row-gap: 16px;
}

.profile__avatar {
  width: 80px;
  height: 80px;
  background: #cecece;
  border-radius: 50px;
  background-size: cover !important;
}

.profile__watchlist {
  padding: 30px 20px;
}

.profile__alert {
  width: 100%;
}
